body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        height: 100px;
        width: auto;
    }
}

.grid{
    
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    div{
        width: 20px;
        height: 20px;
        box-sizing: border-box;
    }
}

.pac-dot{
    background-color: green;
    border: 5px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

.wall{
    background-color: blue;

}

.power-pellet{
    border: chartreuse 3px dotted;
    border-radius: 10px;
    background-color: transparent;

}

.blinky{
    color: red;
}

.pinky{
    color: pink;
}

.inky{
    color: cyan;
}

.clyde{
    color: orange;
}

.scared-ghost{
    color: aquamarine;
}

.pacman{
    border-radius: 10px;
    background: conic-gradient(
        yellow 0deg 270deg,   /* Färbt 3/4 des Kreises */
        transparent 270deg 270deg /* Lässt das letzte Viertel transparent */
    );
    transform: rotate(135deg);
    animation: crunch 0.5s infinite;
    transition: 0.2s;
}

@keyframes crunch{
    0%{
        background: conic-gradient(
            yellow 0deg 270deg,   /* Färbt 3/4 des Kreises */
            transparent 270deg 270deg /* Lässt das letzte Viertel transparent */
        );
        transform: rotate(135deg);
    }
    50%{
        background: conic-gradient(
        yellow 0deg 360deg,   /* Färbt 3/4 des Kreises */
        transparent 270deg 270deg /* Lässt das letzte Viertel transparent */
    );
    transform: rotate(180deg);
    }
    100%{
        background: conic-gradient(
        yellow 0deg 270deg,   /* Färbt 3/4 des Kreises */
        transparent 270deg 270deg /* Lässt das letzte Viertel transparent */
    );
    transform: rotate(135deg);
    }
}